body  {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 10px;
    padding: 20px 150px;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 1000;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-links {
    display: flex;
    gap: 18px;
}

.black {
    background-color: #1F2937;
    padding: 100px 150px;
    display:flex;
    color: white;
    gap: 15px;
}

.black .text {
    flex: 1;
}

.black .img-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(111, 115, 124);
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    margin: 10px 0;
    display: flex;
    padding: 7px 22px;
    color: #E5E7EB;
    border-radius: 5px;
    border-style: none;
    font-weight: 700;
}

.white {
    display: flex;
    flex-direction: column;
    padding: 100px 150px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    padding-bottom: 65px;
}

.items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.item {
    max-width: 300px;
}

.empty-box {
    border-color: #3882F6;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    padding: 50px;
    height: 70px;
}

.white .subtext {
    display: flex;
    text-align: center;
    padding-top: 15px;
    color: #293749;
}