body  {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 10px;
    padding: 20px 200px;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 1000;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-links {
    display: flex;
    gap: 18px;
}

.black {
    background-color: #1F2937;
    padding: 100px 200px;
    display:flex;
    color: white;
    gap: 15px;
    justify-content: center;
}

.black .text {
    flex: 1;
}

.black .img-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(111, 115, 124);
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    margin: 10px 0;
    display: flex;
    padding: 7px 22px;
    color: #E5E7EB;
    border-radius: 5px;
    border-style: none;
    font-weight: 700;
}


.white {
    display: flex;
    flex-direction: column;
    padding: 100px 250px 150px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    padding-bottom: 65px;
}

.items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.item {
    max-width: 300px;
}

.empty-box {
    border-color: #3882F6;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    padding: 50px;
    height: 70px;
}

.white .subtext {
    display: flex;
    text-align: center;
    padding-top: 15px;
    color: #293749;
}


.grey {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 120px 250px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 20px;
}

.last {
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    
}

.blue-box {
    padding: 60px 100px;
    background-color: #3882F6;
    display: flex;
    gap: 100px;
}

.blue-box button {
    flex-shrink: 0;
    border-style: solid;
    border-color: #F9FAF8;
    align-items: center;
    justify-content: center;
}

.action {
    font-size: 20px;
    font-weight: 700;
    color: #E5E7EB;
}